/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

función scss para color: 
    darken(color, porcentaje);
    lighten(color, porcentaje);
*/

$color-primary-light: #eea564;
$color-primary: #e67e22;
$color-primary-dark: #8a4c14;

$color-primary-fondo-suave: rgba($color-primary-light, 0.4);

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
